*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
html{
    height: 100%;
}
body{
    height: 100%;
    position: relative;
}
header {
    height: 51px;
    background-color: #ff0000;
    position: relative;
    text-align: center;
    line-height: 51px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    .arrows {
        width: 50px;
        height: 51px;
        float: left;
        line-height: 51px;
        text-align: center;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
    }
    .app {
        position: absolute;
        top: 7px;
        right: 7px; // float: right;
        width: 34px;
        height: 34px; // margin-top: 7px;
        // margin-right: 7px;
        img {
            width: 100%;
        }
    }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 3px solid red;
    .tips{  
        width: 100%;
        font-size: 13px;
        text-align: center;
        color: #aaa;
        padding: 5px 0;
    }
    .product{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        a{
            display: flex;
            width: 100%;
            padding: 10px 5px;
            border-bottom: 2px solid #eee; 
            img{
                height: 100px;
            }
            .detail{
                padding: 0 10px;
                p:nth-child(1){
                    font-size: 14px;
                    color: #333;
                    margin-bottom: 5px;
                }
                p:nth-child(2){
                    font-size: 14px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
                p:nth-child(3){
                    font-size: 12px;
                    color: orange;
                }
            }
        }
    }
}
.nav{
    background: #efefef;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    height: 34px;
    line-height: 34px;
    margin-top: 25px;
    clear: both;
    a:nth-child(1),a:nth-child(2){
        float: left;
        font-size: 14px;
        border-right: 1px solid #c4c4c4;
        text-align: center;
        width: 30%;
    }
    a:nth-child(3){
        float: left;
        font-size: 14px;
        width: 40%;
        text-align: center;
        img{
            vertical-align: middle;
            margin-top: -5px;
            margin-right: 2px;
        }
    }
}
.footer{
    background: #efefef;
    text-align: center;
    font-size: 12px;
    padding: 15px 0;
    color: #666;
    p{
        display: flex;
        justify-content: center;
        a:nth-child(2){
            color: #000;
            padding: 0 2px;
        }
    }
}
.shadow{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    .slider{
        display: flex;
        height: 160px;
        justify-content: center;
        .zhezhao{
            overflow: hidden;
            width: 200px;
            position: relative;
            .sImg{
                position: absolute;
                width: 6000%;
                height: 160px;
                li{
                    float: left;
                }               
            }
        }
        .leftBtn,.rightBtn{
            height: 60px;
            line-height: 60px;
            text-align: center;
            width: 50px;
            background-color: #333;
            font-size: 40px;
            color: #fff;
            margin-top: 50px;
        }
        .leftBtn{
            margin-right: 5px;
        }
        .rightBtn{
            margin-left: 5px;
        }
    }
}