@charset "UTF-8";
/*头部*/
header {
  height: 51px;
  background-color: #ff841d;
  position: relative;
  text-align: center;
  line-height: 51px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

header .arrows {
  width: 50px;
  height: 51px;
  float: left;
  line-height: 51px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

header .app {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 34px;
  height: 34px;
}

header .app img {
  width: 100%;
}

header span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*内容区域*/
.main {
  padding: 4px 10px;
  border-bottom: 1px solid #ccc;
}

.main h3 {
  min-height: 26px;
  color: #5a5a5a;
  font-size: 18px;
  margin: 10px 0 5px 0;
  font-weight: 800;
}

.main h4 {
  color: #ff6c00;
}

.main .info {
  margin: 12px 0;
  font-size: 12px;
  color: #999;
}

.main .info span:nth-child(2) {
  margin: 0 5px;
}

.main .content {
  color: #606060;
}

.main .content > img {
  width: 120px;
  height: 120px;
  float: right;
}

.main .content .p1 img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.main .content #disstorck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .content #disstorck li {
  width: 33.33333%;
  font-size: 16px;
  border-bottom: 1px dashed #ccc;
  text-align: center;
}

.main .content #disstorck li strong {
  color: #ff841d;
  margin-left: 20px;
}

.main .content .buy {
  padding: 5px;
}

.main .content .buy a {
  display: block;
  background-color: #FF9000;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}

.main .content .buy a i {
  margin-right: 5px;
}

/*评论区域*/
.cu-content-pl {
  padding: 0 8px;
}

.cu-content-pl .tit {
  padding: 6px 0;
}

.cu-content-pl .reply .form {
  border: 2px solid #eceae8;
}

.cu-content-pl .reply .form textarea {
  width: 100%;
  height: 68px;
  border: none;
  outline: none;
  padding: 5px 0 0 5px;
}

.cu-content-pl .reply .form .ctrl {
  position: relative;
  height: 37px;
  border-top: 1px solid #f2f2f2;
  background-color: #fbfbfb;
}

.cu-content-pl .reply .form .ctrl input {
  position: absolute;
  bottom: -2px;
  right: -2px;
  height: 39px;
  width: 100px;
  background-color: #ff841d;
  color: #fff;
}

.cu-content-pl .list {
  overflow: hidden;
}

.cu-content-pl .list li {
  padding: 15px 10px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 13px;
}

.cu-content-pl .list li .userimg {
  float: left;
  width: 40px;
  height: 100%;
  overflow: hidden;
  margin-right: 10px;
}

.cu-content-pl .list li .userimg img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.cu-content-pl .list li .con {
  float: left;
  width: 80%;
}

.cu-content-pl .list li .con .username {
  float: left;
  color: #5997c0;
}

.cu-content-pl .list li .con .time {
  float: right;
  color: #999;
}

.cu-content-pl .list li .con .content {
  margin-top: 6px;
  color: #606060;
  font-size: 15px;
}

.cu-content-pl .list li::before,
.cu-content-pl .list li::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}

.cu-content-pl .list li:last-child {
  border: none;
}

/*底部*/
footer {
  background-color: #f2f2f2;
  overflow: hidden;
  border-top: 1px solid #e0e0e0;
  margin-bottom: 44px;
}

footer .foot_nav {
  height: 38px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebebeb));
  background-image: linear-gradient(#fff, #ebebeb);
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #e0e0e0;
  line-height: 38px;
  padding-left: 5px;
}

footer .foot_nav a {
  color: #000;
  font-size: 15px;
}

footer .app {
  height: 84px;
  background-color: #434343;
  padding: 10px;
  position: relative;
}

footer .app img {
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

footer .app p:first-of-type {
  color: #fff;
  margin-bottom: 10px;
}

footer .app p:last-of-type {
  font-size: 14px;
  color: #fee6c2;
}

footer .app a {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  background-color: #6db110;
  width: 80px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 3px;
  font-size: 15px;
}

footer .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

footer .link a {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

footer .link a img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

footer .link a:last-child {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

footer .link a:nth-child(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/*固定栏*/
.broadside {
  width: 100%;
  height: 44px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.broadside img {
  position: absolute;
  top: -50px;
  right: 0;
  width: 60px;
  height: 67px;
}

.broadside a:first-of-type {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.broadside a:first-of-type span:last-child {
  font-size: 10px;
  color: #666;
}

.broadside a:last-of-type {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  background-color: #ff9000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.broadside a:last-of-type span:first-child {
  margin-right: 5px;
}
/*# sourceMappingURL=discount.css.map */